
body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#header {
    background-color:#1072A3;
    width: 100vw;
    height: 120px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactionArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    height: 350px;
    border: 2px solid #1072A3;
}

.infoInputArea {
    background-color: #79aef2;
    padding: 10px;
    border-radius: 20px;
}

.form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: black;
    padding: 15px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 300px;
}
#submit {
    margin-top: 20px;
    background-color: #1072A3;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border: transparent;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

#bookDisplayArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 15px;
}

.bookCards {
    background-image: linear-gradient(to bottom right, #1072A3, #8eb8e6);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.deleteButton {
    background-color: #1072A3;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#gitlogo {
    height: 20px;
    width: 20px;
}